name: Main Workflow
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    strategy:
      matrix:
        python: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    name: Build python ${{ matrix.python }} environment
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.7"

    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
        architecture: x64

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Run tests
      run: uv run pytest .
